
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Spiderbot</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="static/js/jquery-1.9.1.js"></script>
    <script>
    
    $(function (){
    
	    var progress;
	    
	    function callAjax() {
	            $.ajax({
	                type: 'GET',
	                url: '/progress',
	                data: $(this).serialize(),
	                dataType: 'json',
	                success: function (data) {
	                	progress = data;
	                }
	            });
	            console.log(progress);
	            return progress;
	   }
	   
	   $(document).ready(function(){
	   		var pbar = document.getElementById('progress-bar');
	    	pbar.setAttribute("style","width:".concat(callAjax()));
	   });
   });
   </script>
    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Spiderbot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <input id="button-logout" name="button-logout" type="button" value="Log Out" onclick="location.href='/logout';" class="btn btn-warning" />
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="progress progress-striped active">
	  <div id="progress-bar" class="progress-bar" role="progressbar"
	       aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
	       style="width: 45%">
	    <span class="sr-only">45% completado</span>
	  </div>
	</div>

    <div class="container">

      <div class="starter-template">
      	<img id="logo" src="static/images/logo.png" />
        <h1>Enter URL to diagnose</h1>
      </div>

    </div><!-- /.container -->
    <div class="container" id="web_input_form">
	    <form class="form-inline" role="form" method="post" action="/qvalidation">
		  <div class="form-group" id="input_bar">
		    <label class="sr-only" for="url">Enter your web page</label>
		    <input type="text" class="form-control" id="url" name="url"
		           placeholder="Enter your web page">
		  </div>
		  <button type="submit" class="btn-lg btn-default">Go!</button>
		  <br/><br/>
		  <label class="radio-inline">
	      	<input value="HTML" type="radio" name="optradio" checked>Validate HTML/XHTML/CSS
		  </label>
		  <!--
		  <label class="radio-inline">
		  	<input value="WCAG 2.0" type="radio" name="optradio">Validate WCAG 2.0
		  </label>
		  -->
		  <label class="radio-inline">
		  	<input value="CHECK AVAILABILITY" type="radio" name="optradio">Check availability
		  </label>
		  <br/><br/>
		  <div class="form-group">
		    <label for="depth">Depth level</label>
		    <input type="number" class="form-control" id="depth" name="depth" value="1">
		  </div>
		  <div class="form-group">
		    <label for="max_pags">Max pages</label>
		    <input type="number" class="form-control" id="max_pags" name="max_pags" value="50">
		  </div>
		  <div class="form-group">
		    <label for="onlyDomain">Only domain</label>
		    <input type="checkbox" class="checkbox" id="onlyDomain" name="onlyDomain" value="True">
		  </div>
		</form>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
