body {
  padding-top: 50px;
}

table, table td, table th{
	border: 1px solid;
	padding: 10px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#web_input_form{
	text-align: center;
	margin: auto;
}

#web_input_form table{
	text-align: center;
	margin: auto;
}


#web_input_form table td{
	text-align: left;
}

#web_input_form label{
	margin-left: 10px;
}

#input_bar input{
	margin: auto;
	width: 500px;
}

#depth{
	width: 80px;
}

#max_pags{
	width: 80px;
}

#logo{
	width: 400px;
}

#reports_container{
	width: 800px;
	margin: auto;
	border: 1px solid;
	padding: 40px;
	border-top-left-radius: 6px;
	background-image: url("../images/gold-medal.png");
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 400px;
}

#google_reports_container{
	width: 800px;
	margin: auto;
	border: 1px solid;
	padding: 40px;
	border-top-left-radius: 6px;
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 400px;
}

#rankingPositionNumber{
	position: relative;
	left: 460px;
	bottom: 230px;
	font-size: 80;
}

#reports_main_container{
	width: 800px;
	margin: auto;
	border: 1px solid;
	padding: 40px;
	border-top-left-radius: 6px;
}

#report_table{
	margin-bottom: 30px;
}

#report_table td, #report_table tr, #report_table th{
	text-align: center;
}

#report_subtable td, #report_subtable tr, #report_subtable th{
	margin: auto;
	width: 700px;
}

#report{
	width: 100px;
}

.report_image{
	width: 100px;
}

.report_results_table{
	margin: auto;
	width: 800px;
}

.report_results_table tr, .report_results_table th, .report_results_table td{
	text-align: center;
}

#reportResultsContainer{
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
}

#analyze-img{
	width: 50px;
}

#error_message{
	margin: auto;
	text-aling: center;
	width: 800px;
}

#button-logout{
	float: right;
	margin-top: 8px;
}

.errorTable tr, .errorTable th, .errorTable td{
	text-align: center;
}

.errorSubtable tr, .errorSubtable th, .errorSubtable td{
	text-align: center;
}

.errorSubtable{
	margin: auto;
	margin-bottom: 10px;
}

#errorTableContainer{
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
}
.errorTable{
	margin: auto;
	width: 800px;
}

.buttonTitle{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background-image: url("../images/green_arrow_down.png");
    background-position: left 18px;
    text-indent: 30px;
}

#progress-bar{
	position: fixed;
	width: 100%;
}

#chart{
	margin-top: 50px;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

div#usability table th, div#usability table td{
	padding: 10px;
	border: 1px solid;
}

div#usability table{
	margin-bottom: 10px;
}

div#usability table{
	margin-bottom: 10px;
}

div#speed table{
	margin-bottom: 10px;
}

table.urlBlock{
	margin-left: 20px;
}

#form-edit{
	width: 100%;
}

#form-edit table{
	width: 100%;
}

#form-create{
	width: 100%;
}

#form-create table{
	width: 100%;
}