body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#web_input_form{
	text-align: center;
	margin: auto;
}

#input_bar input{
	margin: auto;
	width: 500px;
}

#logo{
	width: 500px;
}

#reports_container{
	width: 800px;
	margin: auto;
	border: 1px solid;
	padding: 40px;
	border-top-left-radius: 6px;
}

.report_table{
	float: left;
	margin: 10px;
	text-align: center;
}

.report_image{
	width: 100px;
	
}

.report_results_table{
	margin: auto;
	margin-top: 20px;
	width: 800px;
}

.report_results_table tr,th,td{
	border: 1px solid;
	text-align: center;
	padding: 10px;
}

#analyze-img{
	width: 50px;
}
